<o-form-layout-manager attr="WalkerService" mode="tab" title="WALKERSERVICE">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="WalkerServiceTable" 
            service="WalkerService" 
            entity="WalkerService" 
            title="WALKERSERVICE"
            keys="id"
            columns="id;service_id;walker_id" 
            header-actions="R;D"
            visible-columns="id;service_id;walker_id"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="service_id" title="service_id">
    <o-table-cell-renderer-service attr="service_id" 
        service="Service" entity="ServiceType" columns="id;name"
        parent-keys="id:service_id"
        value-column="name" keys="service_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="walker_id" title="walker_id">
    <o-table-cell-renderer-service attr="walker_id" 
        service="Walker" entity="WalkerType" columns="id;name"
        parent-keys="id:walker_id"
        value-column="name" keys="walker_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>